/* Reset default margin and padding */
body, h1, h2, h3, ul, li {
	margin: 10px;
	padding: 10x;
  }
  
  /* Apply background colors */
  body {
	background-color: #a7a7a7;
	color: #333;
  }
  
  header {
	background-color: #2a2929;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  
  nav {
	background-color: #333;
	color: #000000;
	padding: 10px 0;
  }
  
  nav ul {
	list-style: none;
	text-align: left;
  }
  
  nav li {
	display: inline;
	margin-right: 20px;
  }
  
  nav a {
	text-decoration: none;
	color: #fff;
  }
  
  main {
	padding: 20px;
  }
  
  /* Add a cat image */
  .cat-image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
  }
  