/* Reset default margin and padding */
body, h1, h2, h3, ul, li {
	margin: 10px;
	padding: 10x;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Apply background colors */
  body {
	background-color: #a7a7a7;
	color: #333;
  }
  
  header {
	background-color: #2a2929;
	color: #AAAAAA;
	padding: 20px;
	text-align: center;
  }
  
  nav {
	background-color: #333;
	color: #000000;
	padding: 10px;	
	font-size: 20px;
  }
  
  nav ul {
	list-style: none;
	text-align: center;
  }
  
  nav li {
	display: inline;
	margin-right: 20px;
  }
  
  nav a {
	text-decoration: none;
	color: #fff;
  }
  
  main {
	padding: 20px;
	font-size: 18px;
  }

/* Style the dropdown menu */
.dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	padding: 5px;
	margin: 0;	/* margin 0 is required otherwise sublinks disappear */
	background-color: #333;
  }

  .dropdown-content li {
	width: 90px;
	text-align: center;
	padding: 10px;
	/* Display list items vertically */
	display: block;
	font-size: 18px;
  }
    /* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
		display: block;
}

